{{!< default}}
<div class="background-contain">
	<div class="container-fluid">
		<div class="jumbotron home-jumbo"><img src="/images/sidechain-logo.svg" width="160">
			<h1>Demo Music Blog</h1>
			<p>This is a <a href='http://keystonejs.com' target='_blank'>Sidechain</a> website.</p>
			<hr>
		</div>
	</div>
</div>
<div class="container-fluid">
	<section class="module-row">
		<div class="col-xs-12 col-md-3 module latest-page second-tier collection-module">
			<div class="image">
				<a href="">
					<img src="/images/story-1.jpg">
				</a>
			</div>
			<div class="article-details">
				<a href="" class="title-link">
					<h3 class="title">Nemo enim ipsam voluptatem quia voluptas</h3>
				</a>
				<div class="meta">
					<div class="cat-date">
						<a href="">NEWS</a>
						<span class="pub-date">4 HOURS AGO</span>
					</div>
					<ul class="genre-list before inline">
						<li>
							<a href="">CATEGORY</a>
						</li>
					</ul>
				</div>			
			</div>
		</div>
		<div class="col-xs-12 col-md-3 module latest-page second-tier collection-module">
			<div class="image">
				<a href="">
					<img src="/images/story-2.jpg">
				</a>
			</div>
			<div class="article-details">
				<a href="" class="title-link">
					<h3 class="title">Sed ut perspiciatis unde omnis iste natus error sit</h3>
				</a>
				<div class="meta">
					<div class="cat-date">
						<a href="">NEWS</a>
						<span class="pub-date">4 HOURS AGO</span>
					</div>
					<ul class="genre-list before inline">
						<li>
							<a href="">CATEGORY</a>
						</li>
					</ul>
				</div>			
			</div>
		</div>
		<div class="col-xs-12 col-md-3 module latest-page second-tier collection-module">
			<div class="image">
				<a href="">
					<img src="/images/story-3.jpg">
				</a>
			</div>
			<div class="article-details">
				<a href="" class="title-link">
					<h3 class="title">Ut enim ad minima veniam, quis nostrum</h3>
				</a>
				<div class="meta">
					<div class="cat-date">
						<a href="">NEWS</a>
						<span class="pub-date">4 HOURS AGO</span>
					</div>
					<ul class="genre-list before inline">
						<li>
							<a href="">CATEGORY</a>
						</li>
					</ul>
				</div>			
			</div>
		</div>
		<div class="col-xs-12 col-md-3 module latest-page second-tier collection-module">
			<div class="image">
				<a href="">
					<img src="/images/story-4.jpg">
				</a>
			</div>
			<div class="article-details">
				<a href="" class="title-link">
					<h3 class="title">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</h3>
				</a>
				<div class="meta">
					<div class="cat-date">
						<a href="">NEWS</a>
						<span class="pub-date">4 HOURS AGO</span>
					</div>
					<ul class="genre-list before inline">
						<li>
							<a href="">CATEGORY</a>
						</li>
					</ul>
				</div>			
			</div>
		</div>
	</section>
</div>
<div class="lower-section">
	<section class="third-tier horizontal">
	</section>
</div>

